<div class="banner">
	<a href="./">
	<img src="{{ content_url }}/images/{{ config.banner_image }}.png" alt="Alloc-Init" srcset="{{ content_url }}/images/{{ config.banner_image }}2x.png"/>
	</a>
</div>
<div class="navcontainer">
<div id="topnav" class="navitems">
<a href="./">[Home]</a>

<!-- Dynamic Items -->
{% for page in pages %}
{% if page.meta.page %}

<a href={{ page.url }}>[{{ page.title }}]</a>

{% endif %}
{% endfor %}
<!-- End Dynamic Items -->

<a href="./pages/all">[posts]</a>

<a href="https://twitter.com/WestonHanners">[Twitter]</a>

<a href="https://github.com/kronusdark">[Github]</a>
</div>

<div class="icon">
	<a href="javascript:void(0);" onclick="toggleNav()">&#9776;</a>
</div>

</div>