<head>
  <!-- Made with PhileCMS -->
  <meta charset="{{ config.charset }}"/>
  <base href="{{ base_url }}/"/>
  <title>{% if meta.title %} {{ meta.title }} | {% endif %} {{ site_title }}</title>
  {% if meta.description %}
  <meta name="description" content="{{ meta.description }}" />
  {% endif %}
  {% if meta.robots %}
  <meta name="robots" content="{{ meta.robots }}" />
  {% endif %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@westonhanners"/>
  <meta name="twitter:creator" content="@westonhanners"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{% if meta.title %} {{ meta.title }} | {% endif %} {{ site_title }}"/>
  <meta property="og:description" content="{{ meta.description }}"/>
  <meta property="og:url" content="{{ base_url }}/{{ current_page.url }}"/>
  <meta property="og:site_name" content="{{ site_title }}"/>
  <meta property="fb:admins" content="weston.hanners"/>
  {% if meta.image %}
  <meta property="og:image" content="{{ content_url }}/images/{{ meta.image }}" />
  {% else %}
  <meta property="og:image" content="{{ content_url }}/images/logo-v3-1000x1000.png" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ theme_url }}/css/style.min.css" type="text/css"/>
  <link rel='stylesheet' href='{{ theme_url }}/css/hack.min.css' type="text/css"/>
  <link rel='stylesheet' media='screen and (prefers-color-scheme: dark)' href='{{ theme_url }}/css/dark.min.css' type="text/css"/>
  <link rel='stylesheet' media='screen and (max-width:800px)' href='{{ theme_url }}/css/mobile.min.css' type="text/css"/>
  <link rel='stylesheet' media='screen and (max-width:1000px)' href='{{ theme_url }}/css/tablet.min.css' type="text/css"/>
  <link rel="icon" href="{{ content_url }}/images/logo-v3-16x16.png" sizes="16x16" />
  <link rel="icon" href="{{ content_url }}/images/logo-v3-32x32.png" sizes="32x32" />
  <link rel="icon" href="{{ content_url }}/images/logo-v3-192x192.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="{{ content_url }}/images/logo-v3-180x180.png" />
  {{ incrementPageViews() }}
</head>
