<div class="banner">
	<a href="./">
	...alloc] init];
	</a>
</div>
<div class="navcontainer">
<div id="topnav" class="navitems">
<a href="./">[Home]</a>
<a href="./about">[about me]</a>
<a href="./resources">[resources]</a>
<a href="./stuff">[stuff]</a>
<a href="./posts">[posts]</a>
<a href="https://twitter.com/WestonHanners">[Twitter]</a>
<a href="https://github.com/WestonHanners">[Github]</a>
</div>

<div class="icon">
	<a href="javascript:void(0);" onclick="toggleNav()">&#9776;</a>
</div>

</div>