<div class="banner">
  <a aria-label="alloc init" href="./">
    ...alloc] init];
  </a>
</div>
<div class="navcontainer">
  <div id="topnav" class="navitems">
    <a aria-label="home" href="./">[Home]</a>
    {% for page in site.pages | sort 'title' %}
      {% if page.tags contains 'banner' %}
        <a aria-label="{{ page.title }}" href="{{ page.url }}">[{{ page.title }}]</a>
      {% endif %}
    {% endfor %}
    <a aria-label="Mastodon" href="https://techhub.social/@westonhanners">[Mastodon]</a>
    <a aria-label="Github" href="https://github.com/WestonHanners">[Github]</a>
  </div>

  <button class="icon" aria-label="Toggle Menu" onclick="toggleNav()">&#9776;</button>

</div>