<div class="banner">
	<a href="./">
	...alloc] init];
	</a>
</div>
<div class="navcontainer">
<div id="topnav" class="navitems">
<a href="./">[Home]</a>
{% for page in site.pages | sort 'title' %}
{% if page.tags contains 'banner' %}
<a href="{{ page.url }}">[{{ page.title }}]</a>
{% endif %} 
{% endfor %}
<a href="https://twitter.com/WestonHanners">[Twitter]</a>
<a href="https://github.com/WestonHanners">[Github]</a>
</div>

<div class="icon">
	<a href="javascript:void(0);" onclick="toggleNav()">&#9776;</a>
</div>

</div>