<script type="text/javascript" async defer src="assets/navigation.min.js"></script>

<div class="footer">
  [
  <a aria-label="copyright 2022, weston hanners" href="https://techhub.social/@westonhanners">©2022 Weston Hanners</a>
  |
  <a aria-label="rss feed" href="https://alloc-init.com/feed">rss</a>
  ]
</div>
<!--Powered by Jekyll and Github Pages, Alloc Theme by Weston Hanners-->