@media screen and (max-width:414px)

    h1
        font-size: 1.5rem

    h4
        font-size: 0.8rem

    .banner
        margin-top: 1rem
        margin-bottom: 0rem
        a
            font-size: 10vw

    .footer
        font-size: 0.6rem

    .blog-item
        margin-top: 2rem
        margin-bottom: 2rem

    .center-text
        padding-left: 5%
        padding-right: 5%

    .content
        margin-left: 0.5rem
        margin-right: 0.5rem