/* Remove margins and padding from the list, and add a black background color */
ul.navbar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
}

/* Float the list items side by side */
ul.navbar li {float: left;}

/* Style the links inside the list items */
ul.navbar li a {
  display: flex;
  text-align: center;
  padding: 16px 16px;
  transition: 0.3s;
  color: #4A4A4A;
  font-weight: bold;
  font-family: Hack, monospace; 
  text-decoration: none;
  text-transform: lowercase;
}

/* Hide the list item that contains the link that should open and close the navbar on small screens */
ul.navbar li.icon {
  display: none;
}

@media screen and (max-width:800px) {

  ul.navbar {
    display: block;
    justify-content: none;
  }

  ul.navbar li:not(:first-child) {
    display: none;
  }

  ul.navbar li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:800px) {

  ul.navbar.responsive {
    position: relative;
  }

  ul.navbar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.navbar.responsive li {
    float: none;
    display: inline;
  }

  ul.navbar.responsive li a {
    display: flex;
    text-align: left;
  }
}