pre {
  white-space: pre-wrap; 
  font-size: 10px;
}

h1, h2, h3, h4, p, dateline {
  color: #4A4A4A;
}

a {
  color: #4E92DF;
  text-decoration: none;
}

p {
  margin-top: 10px;
  margin-bottom: 20px;
}

il {
  margin-top: 10px;
  margin-bottom: 10px;
}

a:hover {
  color: #0097F9;
}

body {
  margin: 20px;
}

.centerimage {
  text-align: center;
}

#content {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  line-height: 120%;  
  font-size: 200%;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-weight: bolder;
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: calc(10px + 0.5vw);
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#content {
  line-height: 150%;
  font-size: 100%; 
}

hr {
  color: #CCCCCC;
  border-width: 0.5px;
  border-style: solid;
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
}

strong {
  font-weight: bold;
}

.youtube-video {
  text-align: center;
}

.footer {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  font-family: Hack, monospace; 
  text-transform: lowercase;
}

.banner {
  text-align: center;
}
