pre {
  white-space: pre-wrap; 
  font-size: 10px;
}

h1, h2, h3, h4, p, dateline {
  color: #4A4A4A;
}

a {
  color: #4E92DF;
  text-decoration: none;
}

a:hover {
  color: #0097F9;
}

body {
  margin-left: 1em;
}

.centerimage {
  text-align: center;
}

#content {
  margin-top: 50px;
  margin-bottom: 50px;
}

#navigation {
  text-align: center;
}

h1 {  
  font-size: calc(17px + 1vw);
  margin-bottom: 0px;
  margin-top: 20px;
}

h2 {
    font-size: calc(12px + 1vw);
}

h4 {
  font-size: calc(10px + 0.5vw);
  margin-top: 0px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

#content.p {
  font-size: calc(14px + 1vw); 
}

hr {
  color: #CCCCCC;
  border-width: 0.5px;
  border-style: solid;
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.youtube-video {
  text-align: center;
}

.footer {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  font-family: Hack, monospace; 
  text-transform: lowercase;
}

.banner {
  text-align: center;
}
