pre {
  white-space: pre-wrap; 
  font-size: 10px;
  padding: 0;
}

h1, h2, h3, h4, p, dateline, a {
  color: #4A4A4A;
}

a {
  text-decoration: none;
}

p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.content a {
    color: #266AAF;
}

il {
  margin-top: 10px;
  margin-bottom: 10px;
}

blockquote {
  font-style: italic;
}

a:hover {
  color: #0097F9;
}

body {
  margin: 20px;
}

ul {
  padding-left: 0px;
  margin-left: 10px;
  list-style: none;
}

h1 {
  line-height: 120%;
  font-size: 200%;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-title {
    margin-bottom: 5px;
}

h2 {
  font-weight: bolder;
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 15px;
}

h4 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

body {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

hr {
  color: #CCCCCC;
  border-width: 0.5px;
  border-style: solid;
  margin-left: 8px;
}

iframe {
  max-width: 100%;
}

.content {
  line-height: 150%;
  font-size: 100%;
  margin: 16px;
}

blockquote {
  text-align: center;
  margin-top: 5px;
}

.banner img {
  max-width: 100%;
}

img {
  text-align: center;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.inline-image p {
  font-size: 10px;
  text-align: center;
  font-family: Hack, monospace; 
  text-transform: lowercase;
  margin-top: 0px;
}

.horizontal-list {
  display: block;
  text-align: center;
}

.horizontal-list a {
  font-family: Hack, monospace; 
  text-transform: lowercase;
  padding: 16px 16px;
}

.footer {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  font-family: Hack, monospace; 
  text-transform: lowercase;
}

@media screen and (max-width:1000px) {
  h1 {
    font-size: 18px;
  }

  h4 {
    font-size: 12px;
  }
}

@media screen and (min-width:1000px) {
  .content {
    margin-left: 20%;
    margin-right: 20%
  }
}