<!DOCTYPE html>
<html lang="en">
{% include header.liquid %}
<body>
<header class="header">
{% include banner.liquid %}
</header>
<section class="content">
<h1 class="article-title">Everything</h1>
<div class="article-subtitle">
This is a list of all blog posts on this site.
</div>
{% for post in site.posts %}
<div class="article-list">
<h2>
    <a href=
    {% if post.link %}
    {{ post.link }} 
    {% else %} 
    {{ post.url }}
    {% endif %} >{{ post.title }}</a>
</h2>
</div>
{% endfor %}
</section>
{% include footer.liquid %}
</body>
</html>